body {
    background-color: grey;
    margin: 0;
    padding: 0;
}

.body--wrapper {
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: gold;
}

.body--header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 40px;
    background-color: red;
}

.body--navigation {
    position: absolute;
    top: 40px;
    left: 0;
    right: 0;
    height: 40px;
    background-color: blue;
}

.body--content {
    position: absolute;
    top: 80px;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: green;
}

.body--content--wrapper {
    position: relative;
    background-color: indigo;
    width: 100%;
    height: 100%;
}

.edi-orders-filter {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
}

.edi-orders-list {
    position: absolute;
    top: 41px;
    left: 0;
    right: 0;
    bottom: 41px;
    border: 1px solid black;
    overflow: auto;
}

.edi-orders-action-bar {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    border: 1px solid black;
    height: 40px;
    display: flex;
    align-items: center;
}

.edi-order {
    height: 150px;
    border: 1px solid greenyellow;
}